@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?sf3wm3');
    src:    url('../fonts/icomoon.eot?sf3wm3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?sf3wm3') format('truetype'),
        url('../fonts/icomoon.woff?sf3wm3') format('woff'),
        url('../fonts/icomoon.svg?sf3wm3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-channels:before {
    content: "\e900";
}
.icon-cost-structure:before {
    content: "\e901";
}
.icon-customer-relationships:before {
    content: "\e902";
}
.icon-customer-segments:before {
    content: "\e903";
}
.icon-key-activities:before {
    content: "\e904";
}
.icon-key-partners:before {
    content: "\e905";
}
.icon-key-resources:before {
    content: "\e906";
}
.icon-revenue-streams:before {
    content: "\e907";
}
.icon-value-proposition:before {
    content: "\e908";
}



body {
    font-family: 'Open Sans', Arial, serif;
}

#wrapper {
    width: 99%;
    margin: 0px auto;
}

.container {
    width: 96%;
    margin: 0px auto;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.short {
    min-height: 200px;
    border: 1px solid #555753;
    padding: 10px;
}

.tall {
    min-height: 400px;
    border: 1px solid #555753;
    padding: 10px;
}

.col-sm-2, .col-sm-3, .col-sm-6 {
    padding: 0px !important;
}

.col-sm-4 {
    margin-top: 10px;
}

h1, h4 {
    margin-top: 0px !important;
}

.center {
    text-align: center;
}

a:link, a:visited, a:hover {
    color: #cc0000;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

footer {
    font-weight: 300;
}

.item {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.item-true {
    text-decoration:line-through;
}

.remove {
    color: red;
}
