<!doctype html>
<html lang="en" ng-app="bmc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Startup Tool is digital tool for startups. Business Model Canvas">
    <meta name="keywords" content="Startup Tool, Business Model Canvas, Startup, Lean Startup">
    <!-- Bing Webmaster-->
    <meta name="msvalidate.01" content="84D86580376A3F46DE85F11FF76E5FDF" />
    <title>StartUpTool - Bussiness Model Canvas</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href="css/bmc.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/bm.js"></script>
</head>
<body ng-controller="MainController">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&appId=223769534315088&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
    <h1 class="page-header center">Business Model Canvas</h1>
</div>
<div class="row">
    <div class="container">
        <form class="form form-horizontal" role="form" id="itemForm">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" id="item" name="item" class="form-control input-lg ttp" ng-model="text" placeholder="Type item name" title="Type here the item you want to add" required="required">
                </div>
                <div class="col-sm-4">
                    <select id="section" name="section" class="form-control input-lg ttp" title="Select the section where you want to add the item" required="required" ng-model="bmcontainer">
                        <option value="">Select section</option>
                        <option value="key-partners">Key Partners</option>
                        <option value="key-activities">Key Activities</option>
                        <option value="key-resources">Key Resources</option>
                        <option value="value-proposition">Value Proposition</option>
                        <option value="customer-relationships">Customer Relationships</option>
                        <option value="channels">Channels</option>
                        <option value="customer-segments">Customer Segments</option>
                        <option value="cost-structure">Cost Structure</option>
                        <option value="revenue-streams">Revenue Streams</option>
                    </select>
                </div>
                <div class="col-sm-4 center">
                    <input type="submit" class="btn btn-lg btn-default ttp" title="Insert the item" value="Add Item" ng-click="add()">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="firstRow">
    <div class="row">
        <div class="col-sm-2">
            <div id="key_partners" class="tall">
                <h4 class="page-header center">Key Partners <span class="icon-key-partners pull-right"></span></h4>
                <ul id='key-partners' ng-repeat="item in $storage.items" ng-if="item.container == 'key-partners'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 0)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="key_activities" class="short">
                <h4 class="page-header center">Key Activities <span class="icon-key-activities pull-right"></span></h4>
                <ul id='key-activities' ng-repeat="item in $storage.items" ng-if="item.container == 'key-activities'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 1)"></span>
                     </li>
                </ul>
            </div>
            <div id="key_resources" class="short">
                <h4 class="page-header center">Key Resources <span class="icon-key-resources pull-right"></span></h4>
                <ul id='key-resources' ng-repeat="item in $storage.items" ng-if="item.container == 'key-resources'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 2)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="value_propositions" class="tall">
                <h4 class="page-header center">Value Propositions <span class="icon-value-proposition pull-right"></span></h4>
                <ul id='value-proposition' ng-repeat="item in $storage.items" ng-if="item.container == 'value-proposition'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 3)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div id="customer_relationships" class="short">
                <h4 class="page-header center">Customer Relationships <span class="icon-customer-relationships pull-right"></span></h4>
                <ul id='customer-relationships' ng-repeat="item in $storage.items" ng-if="item.container == 'customer-relationships'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 4)"></span>
                    </li>
                </ul>
            </div>
            <div id="channels_" class="short">
                <h4 class="page-header center">Channels <span class="icon-channels pull-right"></span></h4>
                <ul id='channels' ng-repeat="item in $storage.items" ng-if="item.container == 'channels'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 5)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="customer_segments" class="tall">
                <h4 class="page-header center">Customer Segments <span class="icon-customer-segments pull-right"></span></h4>
                <ul id='customer-segments' ng-repeat="item in $storage.items" ng-if="item.container == 'customer-segments'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 6)"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="secondRow">
    <div class="row">
        <div class="col-sm-6">
            <div id="cost_structure" class="short">
                <h4 class="page-header center">Cost Structure <span class="icon-cost-structure pull-right"></span> </h4>
                <ul id='cost-structure' ng-repeat="item in $storage.items" ng-if="item.container == 'cost-structure'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 7)"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="revenue_streams" class="short">
                <h4 class="page-header center">Revenue Streams <span class="icon-revenue-streams pull-right"></span> </h4>
                <ul id='revenue-streams' ng-repeat="item in $storage.items" ng-if="item.container == 'revenue-streams'">
                    <li ng-repeat="data in item.data">
                        <input type="checkbox" ng-checked="{{ data.status }}" ng-model="data.status" />
                        <span class="item item-{{ data.status }}">{{ data.text }}</span>
                            <span class="glyphicon glyphicon-remove remove" ng-click="remove($index, 8)"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="http://www.startuptool.net">Startup Tool</a> Business Model Canvas |
                <a href="https://www.facebook.com/startuptool">Facebook</a> |
                <a href="https://www.google.com/+StartuptoolCo" rel="Publisher">Google+</a> |
                <a href="https://twitter.com/startup_tool">Twitter</a> |
                <a href="https://github.com/hvalyavicharski/startuptool">GitHub</a>
            </p>
            <p>
            <div class="fb-like" data-href="http://facebook.com/startuptool" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>
            </p>
        </div>
    </div>
</footer>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21208252-3', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Plus button -->
<script type="text/javascript">
    window.___gcfg = { lang: 'en' };

    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<!-- Alfa version 0.2014.7.11 -->
</body>
</html>
